body {
  font-family: Arial;
  background: #f4f6f9;
}

.container {
  width: 600px;
  margin: auto;
  padding: 20px;
}

form input, select, button {
  margin: 5px;
  padding: 8px;
}

.job-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}